<div class="show-position">

<div class="pet-photo" style="background-image: url(<%= cl_image_path @pet.photo.key %>)">
  <%= link_to pets_path, class:"back-index"  do %>
    <i class="fa-solid fa-circle-left fa-2xl"></i>
  <% end %>

</div>

  <div class="show-container container">
    <div class="row">
      <div class= "col-8">
        <div class= "flat-show-card">
          <div class="d-flex justify-content-between me-3">

            <div class="d-flex">
              <h1 class="me-3"><%= @pet.name %></h1><br>
              <div class="species">
                <% case @pet.species %>
                <% when "Poisson" %>
                  <i class="fa-solid fa-fish fa-xl"></i>
                <% when "Reptile" %>
                  <i class="fa-solid fa-dragon fa-xl"></i>
                <% when "Amphibien" %>
                  <i class="fa-solid fa-frog fa-xl"></i>
                <% when "Oiseau" %>
                  <i class="fa-solid fa-feather fa-xl"></i>
                <% when "Mammiphère" %>
                  <i class="fa-solid fa-cat fa-xl"></i>
                <% when "Insecte" %>
                  <i class="fa-solid fa-mosquito fa-xl"></i>
                <% end %>
              </div>
            </div>

            <img src="<%= cl_image_path @pet.owner.photo.key %>" class="avatar-large" alt="avatar-large" />
          </div>

          <div class="d-flex justify-content-between">
            <p><%= @pet.age %> an(s)</p>
            <p><%= @pet.price_per_day %> € par jour</p>
          </div>

        </div>

        <div class= "flat-show-card">
          <h2>A propos de mon animal adoré..</h2>
          <%= @pet.description %><br>
        </div>

      </div>

      <div class= "col-4 d-flex">
        <div class="flat-show-card">
          <h4>Réserver cet animal</h4>
          <div class="input-group justif-content-center">
            <%= simple_form_for [@pet, @booking] do |f| %>
              <%= f.input :starts_on, label: "Date de début", html5: true %>
              <%= f.input :ends_on, label: "Date de fin", html5: true %>
              <%= f.submit "Confirmer", class: "btn button" %>
              <%# TODO later = Si on a le temps, il faudrait voir pour installer Flatpicker (cf kitt:library) %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
