<div class="container col-12 col-lg-5 form-container">
  <h1>Mettez à jour votre star adorée</h1>
  <div class="form">
    <%= simple_form_for([:owner, @pet]) do |f| %>
      <%= f.input :name, label:"Nom" %>
      <%= f.input :species, collection:["Amphibien", "Insecte", "Mammiphère", "Oiseau", "Poisson", "Reptile"], label:"Espèce" %>
      <%= f.input :age, label:"Âge" %>
      <%= f.input :description %>
      <%= f.input :price_per_day, label:"Prix par jour" %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Ajouter", class: "btn button d-grid col-4 mx-auto" %>
    <% end %>
  </div>
</div>
