<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h2 class="style-title">Se connecter</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <!-- This div is centered and takes 6 columns -->
      <div class="form-inputs formulaire">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
        <div class="form-actions mb-5">
          <%= f.button :submit, "Log in", class: "btn button" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
